{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}


<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <table class="table mb-4">
                <a href="{% url 'create' %}" class="btn btn-light" style="margin-bottom: 20px">create</a>
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Todo item</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>

                {% for todo in todos %}
                <tr>
                  <th scope="row"><a href="{% url 'detail' todo.slug %}" style="
                        text-decoration: none;
                        color: black;
                  ">{{ forloop.counter }}</a></th>
                  <td style="  overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 200px;"><a href="{% url 'detail' todo.slug %}" style="
                        text-decoration: none;
                        color: black;
                  ">{{ todo.title }}</a>
                  </td>
                  <td>{% if not todo.is_done %}In progress{% else %}Done{% endif %}</td>
                  <td>
                      <a href="{% url 'update' todo.id %}" style="text-decoration: none">
                      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary">Edit</button>
                      </a>
                      <a href="{% url 'delete' todo.id %}" style="text-decoration: none">
                      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger">Delete</button>
                      </a>
                      {% if not todo.is_done %}
                      <form action="" method="post" style="display: inline">{% csrf_token %}
                          <button type="submit" data-mdb-button-init data-mdb-ripple-init name="done_todo" value="{{ todo.id }}"
                                  class="btn btn-success ms-1">Finished</button>
                      </form>
                      {% endif %}
                  </td>
                </tr>
                <tr>
                 {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% else %}

<div class="bg-dark text-secondary py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Welcome to Todo List</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4" style="margin-top: 20px">before anything you have to signup or if you already have an account, please login to it.
            you can use below buttons to go to signup and login page
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style="margin-top: 50px">
            <a href="{% url 'register' %}">
                <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Signup</button>
            </a>

            <a href="{% url 'login' %}">
              <button type="button" class="btn btn-outline-light btn-lg px-4">Login</button>
            </a>
        </div>
      </div>
    </div>
  </div>
    {% endif %}
{% endblock %}
