{% extends 'base.html' %}

{% block content %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <table class="table mb-4">
                <a href="{% url 'create' %}" class="btn btn-outline-secondary" style="margin-bottom: 20px">create</a>
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Todo item</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>

                {% for todo in todos %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td style="  overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 200px;">{{ todo.title }}
                  </td>
                  <td>{% if not todo.is_done %}In progress{% else %}Done{% endif %}</td>
                  <td>
                      <a href="{% url 'update' todo.id %}" style="text-decoration: none">
                      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary">Edit</button>
                      </a>
                      <a href="{% url 'delete' todo.id %}" style="text-decoration: none">
                      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger">Delete</button>
                      </a>
                      {% if not todo.is_done %}
                      <form action="" method="post" style="display: inline">{% csrf_token %}
                          <button type="submit" data-mdb-button-init data-mdb-ripple-init name="done_todo" value="{{ todo.id }}" class="btn btn-success ms-1">Finished</button>
                      </form>
                      {% endif %}
                  </td>
                </tr>
                <tr>
                 {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
